{% extends 'main/base.html' %}
{% load static %}

{% block body %}
<div class="section">
    <h2>Définir un nouveau mot de passe</h2>
    <p>Veuillez entrer votre nouveau mot de passe deux fois pour confirmation. Le mot de passe doit être sécurisé.</p>

    {% if validlink %}
    <form method="post" class="login-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_new_password1">Nouveau mot de passe&nbsp;:</label>
            {{ form.new_password1 }}
        </div>

        <div class="form-group">
            <label for="id_new_password2">Confirmation du mot de passe&nbsp;:</label>
            {{ form.new_password2 }}
        </div>

        {% if form.errors %}
        <div class="form-errors">
            {% for field in form %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <button type="submit" class="button-large">Réinitialiser le mot de passe</button>
    </form>
    {% else %}
    <p class="error-message">Ce lien de réinitialisation n’est plus valide. Veuillez refaire une demande.</p>
    {% endif %}
</div>
{% endblock %}
