# Django
DEBUG=True
SECRET_KEY=change-me-to-a-long-random-string
DJANGO_ENV=development

# PostgreSQL
POSTGRES_USER=speciarium
POSTGRES_PASSWORD=change-me
POSTGRES_DB=speciarium

# Email (SMTP Gmail en production, console en dev)
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
SERVER_HOST=127.0.0.1
