.table {
    vertical-align: top;
    border-color: #dee2e6;
}

.table > thead {
    vertical-align: bottom;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

table {
    border-collapse: collapse;
}

.table > :not(:first-child) {
    border-top: 2px solid currentColor;
}

.table > tbody {
    vertical-align: inherit;
}

.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    border-bottom-width: 1px;
}

.thumbnail {
    max-height: 100px;
    max-width: 100px;
}

.table-container {
    overflow-x: auto;
    border-radius: 7px;
    margin-bottom: 20px;
}
.table {
    margin-bottom: 0;
}
.table thead {
    background-color: rgb(55, 55, 55);
    color: white
}
.table .even {
    background-color: white;
}
.table .odd {
    background-color: rgb(240, 240, 240);
}
.table thead a {
    color: white;
    text-decoration: none;
}
.table thead a:hover {
    color: lightgray;
}
.container {
    max-width: none;
    width: 95%;
}
