{% extends 'main/base.html' %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0; url='{% url 'home' %}'" />
{% else %}
<div class="login">
    <h1>Connexion</h1>
    <form method="post">
        {% csrf_token %}
            <!-- Affichage des erreurs globales -->
            {% if form.non_field_errors %}
            <div class="alert">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Affichage des champs avec labels personnalisés sans les deux-points -->
            <div class="form-group">
                <label for="id_username">Nom d'utilisateur :</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="id_password">Mot de Passe :</label>
                {{ form.password }}
            </div>

            <p style="margin-top: 1rem; text-align: center;">
                <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
            </p>
        <button type="submit">Connexion</button>
    </form>
</div>
{% endif %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/assets/styles/login.css' %}" />
{% endblock %}