{% extends 'main/base.html' %}
{% load static %}

{% block body %}
<div class="section">
    <h2>{{ first_name }}</h2>
    <div>
        @{{ username }} - {{ email }}
    </div>
    <div class="profile-section">
        <h4>Changer de fond de carte</h4>
        <div class="list">
            <ul>
                {% for map_tiles_id, map_tiles_title in map_tiles %}
                {% if map_tiles_id == current_map_tiles_id %}
                <li class="current_object">
                    <label class="map-option">
                        <input type="checkbox" checked disabled>
                        <span>{{ map_tiles_title }}</span>
                    </label>
                </li>
                {% else %}
                <li class="unselected_object">
                    <label class="map-option">
                        <input type="checkbox"
                               class="checkbox"
                               onclick="window.location.href='{% url 'change_map_tiles' map_tiles_id %}'">
                        <span class="checkbox">{{ map_tiles_title }}</span>
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <br/>
    <div class="profile-section">
        <h4>Changer de thème</h4>
        <div class="list">
            <ul>
                {% for theme_id, theme_title in themes %}
                {% if theme_id == current_theme_id %}
                <li class="current_object">
                    <label class="theme-option">
                        <input type="checkbox" checked disabled>
                        <span>{{ theme_title }}</span>
                    </label>
                </li>
                {% else %}
                <li class="unselected_object">
                    <label class="theme-option">
                        <input type="checkbox"
                               class="checkbox"
                               onclick="window.location.href='{% url 'change_theme' theme_id %}'">
                        <span class="checkbox">{{ theme_title }}</span>
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="section">
    <div id="collection-title">
        <h2>Mes collections</h2>
        <a class="select-button collection-button" href="">
            <span class="icon">+</span>Nouvelle collection
        </a>
    </div>
    <div class="active_collection">
        {{ current_collection_title }}
        <div class="select-button collection-button active_collection_button">
            <img src='{% static "main/images/check-white.svg" %}' alt="save" class="collection-icon">Active
        </div>
    </div>
    <div class="my_collections">
        <h3>
            <img src="{% static 'main/images/crown.svg' %}"
                 alt="couronne"
                 class="icon">
            Mes collections
        </h3>
        <ul id="my_collections_list">
            {% for collection_id, collection_title, collection_owner_id, collection_owner_username, users_allowed, users_allowed_withoutme, has_photo in collections %}
            {% if collection_owner_id == request.user.id %}

            <li class="collection" data-collection-id="{{ collection_id }}">
                <div class="collection-row">
                    <div class="collection-title-edit">
                        <p class="collection-title">{{ collection_title }}</p>
                        <div class="edit-btn">
                            <img src="{% static 'main/images/edit.svg' %}" alt="editer"/>
                        </div>
                    </div>
                    <div class="collection-actions">
                        {% if collection_id != current_collection_id %}
                        <a class="select-button collection-button" href="{% url 'change_collection' collection_id %}">
                            Voir
                        </a>
                        {% endif %}

                        <div class="select-button manage-button collection-button">
                            Gérer<img src="{% static 'main/images/settings.svg' %}"
                                      alt="rouage"
                                      class="icon">
                        </div>
                    </div>
                </div>
                <div class="collection-allowed-users">
                    <div class="collection-allowed-users-title">
                        {% if users_allowed|length > 1 %}
                        Utilisateurs spectateurs :
                        {% else %}
                        Aucun spectateur
                        {% endif %}
                        <span class="icon add-user-btn select-button collection-button">+</span>
                    </div>
                    <ul class="user-allowed-list" data-collection-id="{{ collection_id }}">
                        {% for user in users_allowed_withoutme %}
                        {% if user != request.user.username %}
                        <li class="allowed-user-row">
                            <div class="allowed-user">
                                @{{ user }}
                                <div class="collection-icon remove-user-btn" data-username="{{ user }}">−</div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% if has_photo %}
                    <div class="select-button collection-button delete-collection has-photo">Supprimer</div>
                    {% else %}
                    <a class="select-button collection-button delete-collection"
                       href="{% url 'delete_collection' collection_id %}"
                       data-collection-id="{{ collection_id }}">
                        Supprimer
                    </a>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="other_collections">
        <h3>
            <img src="{% static 'main/images/eye.svg' %}"
                 alt="œil"
                 class="icon">
            Collections partagées avec moi
        </h3>
        <ul id="other_collections_list">
            {% for collection_id, collection_title, collection_owner_id, collection_owner_username, users_allowed, users_allowed_withoutme, has_photo in collections %}
            {% if collection_owner_id != request.user.id %}

            <li class="collection" data-collection-id="{{ collection_id }}">
                <div class="collection-row">
                    <div class="collection-title">
                        <p>{{ collection_title }}</p>
                        <span class="username">
                            <img src="{% static 'main/images/crown.svg' %}"
                                 alt="couronne"
                                 class="icon">{{ collection_owner_username }}
                        </span>
                    </div>
                    <div class="collection-actions">
                        {% if collection_id != current_collection_id %}
                        <a class="select-button collection-button" href="{% url 'change_collection' collection_id %}">
                            Voir
                        </a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="section">
    <h2>Paramètres du compte</h2>
    <h3>Changer son nom d'utilisateur</h3>
    <!-- Formulaire pour mettre à jour l'email -->
    <form method="post" action="" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ username_form.username.label_tag }}
            {{ username_form.username }}
        </div>
        {% if username_form.errors %}
        <div class="form-errors">
            {% for field in username_form %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
            {% for error in username_form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" name="update_username" class="button-large">Mettre à jour le nom d'utilisateur</button>
    </form>

    <h3>Changer l'email associé au compte</h3>
    <!-- Formulaire pour mettre à jour l'email -->
    <form method="post" action="" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ email_form.email.label_tag }}
            {{ email_form.email }}
        </div>
        {% if email_form.errors %}
        <div class="form-errors">
            {% for field in email_form %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
            {% for error in email_form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" name="update_email" class="button-large">Mettre à jour l'email</button>
    </form>

    <br/>
    <br/>

    <h3>Changer son mot de passe</h3>
    <!-- Formulaire pour changer le mot de passe -->
    <form method="post" class="login-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_old_password">Ancien mot de passe&nbsp;:</label>
            {{ password_form.old_password }}
        </div>

        <div class="form-group">
            <label for="id_new_password1">Nouveau mot de passe&nbsp;:</label>
            {{ password_form.new_password1 }}
        </div>

        <div class="form-group">
            <label for="id_new_password2">Confirmation du mot de passe&nbsp;:</label>
            {{ password_form.new_password2 }}
        </div>

        {% if password_form.errors %}
        <div class="form-errors">
            {% for field in password_form %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
            {% for error in password_form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <button type="submit" name="change_password" class="button-large">Changer le mot de passe</button>
    </form>
</div>

<form action="{% url 'logout' %}" class="login-form" method="post">
    {% csrf_token %}
    <button type="submit" class="logout-btn">
        Se déconnecter
    </button>
</form>

{% endblock %}

{% block javascript %}
<script>
    const updateCollectionNameUrl = "{% url 'update_collection_name' %}";
    const addUserToCollectionUrl = "{% url 'add_user_to_collection' %}";
    const removeUserToCollectionUrl = "{% url 'remove_user_from_collection' %}";
    const createCollectionUrl = "{% url 'create_collection' %}";
    const checkIconPath = "{% static "main/images/check.svg" %}";
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'main/assets/scripts/edit-collection.js' %}"></script>

{% endblock %}
