@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 24px;
    color: white;
}

header a {
    text-decoration: none;
}

.mt-5 {
    margin-top: 0 !important;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

html, body {
    margin: 0;
    min-height: 100%;
}

body {
    justify-content: center;
    background: linear-gradient(#30cfd0, #330867);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.actions {
    display: flex;
    height: 45px;
}

.italic-field {
    font-style: italic;
}

#folderInput {
    display: none;
}

.upload-button:hover {
    background-color: black;
}

.upload-button svg {
    width: 24px;
    height: 24px;
}

.upload-button {
    margin-right: 10px;
    width: 45px;
}

.upload-info {
    display: flex;
}

.upload-info p {
    margin: auto 10px auto auto;
    max-width: 200px;
    text-align: end;
}

.loading {
    height: 25px;
    margin: auto 10px auto auto;
    display: none;
}

.logout button, .upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 10px;
    height: 45px;
}

.logout button svg {
    margin-right: 8px;
}

.tab a {
    border: none;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 10px;
    height: 45px;
}

.tab a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.border-shadow {
    width: 100%;
    height: 1px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
}
