/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --primary: #373737FF;
    --secondary: #ffc107;
    --text: #000;
}

/* Appliquer un reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* BASE : Corps de page */
html, body {
    margin: 0;
    min-height: 100%;
}

body {
    justify-content: center;
    background: linear-gradient(#30cfd0, #330867);
    color: var(--text);
}

.mt-5 {
    margin-top: 0 !important;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* TITRES */
h1, h2, h3 {
    color: var(--text);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    color: var(--secondary);
}

/* LIENS INTERACTIFS (DANS TITRES) */

.title_logo {
    display: flex;
}

.title_logo img {
    width: 130px;
    height: auto;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title_logo h1, .title_logo h2 {
    transition: color 0.1s ease-in-out;
}

.title_logo:hover h1,
.title_logo:hover h2 {
    color: var(--secondary);
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

header h2, header h3 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header h1, header h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
}

header h2 {
    margin-top: -15px;
    margin-left: 85px;
}

header a {
    text-decoration: none;
}

.left-header {
    display: flex;
}

/* ACTION BUTTONS (Upload/Logout) */
.actions {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-left: 10px;
}

.loading {
    height: 25px;
    margin: auto 10px auto 10px;
    display: none;
}

.logout button, .upload-button, .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: var(--primary);
    transition: all 0.3s linear;
    cursor: pointer;
    height: 45px;
}

.upload-button {
    padding: 10px;
}

.user-menu {
    margin: 10px;
}

.user-icon {
    height: 40px;
    width: 40px;
    fill: #fff;
}

.logout button:hover, .upload-button:hover, .action-button:hover {
    background-color: var(--secondary);
    color: #000;
}

.upload-button:hover .user-icon, .upload-button:hover .upload-icon {
    fill: #000;
}

#folderInput {
    display: none;
}

.upload-button svg, .action-button svg {
    width: 24px;
    height: 24px;
}

/* TABS & ONGLET */

.tab {
    display: flex;
}

.onglet {
    position: relative;
    margin-left: 5px;
}

#logout-label {
    margin-left: 8px;
}

.tab a {
    border: none;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 10px;
    height: 45px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.03));
}

.tab a p {
    font-size: 14px;
}

.icon_tab {
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
}

.tab a:hover {
    background-color: var(--secondary);
    color: #000;
    font-weight: bold;
}

/* UTILISATEUR (Dropdown) */
.user-container {
    display: flex;
    position: relative;
}

.user-button {
    display: flex;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.user-button:hover {
    background-color: transparent;
}

.logout-button {
    all: unset !important;
}

.user-container:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
    right: 0;
    top: 45px;
}

.dropdown-content a {
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-in-out;
}

.dropdown-content a:hover {
    background-color: var(--secondary);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .icon_tab {
        display: none;
    }

    .tab a {
        width: 150px;
    }
}

@media (max-width: 1100px) {
    .icon_tab {
        display: block;
        max-height: 40px;
        max-width: 50px;
    }

    .left-header {
        height: 120px;
    }

    .tab {
        flex-direction: column;
    }

    .tab a {
        height: 40px;
        width: 120px;
        justify-content: space-between;
    }

    .actions {
        flex-direction: column;
    }

    .logout button, .upload-button, .action-button {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 700px) {
    header .logo {
        display: none;
    }
}

@media (max-width: 580px) {
    header .logo {
        display: block;
    }

    header .title {
        display: none;
    }
}

@media (max-width: 420px) {
    header .logo {
        display: none;
    }

    .left-header {
        width: 100%;
        justify-content: space-between;
    }

    .tab a {
        justify-content: start;
    }
}