.container .formulaire {
    position: relative;
    margin: 20px auto 0 auto;
    max-width: 1100px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 7px;
    padding: 20px;
}

.errorlist {
    list-style-type: none;
}

.errorlist li {
    font-size: 12px;
    font-style: italic;
}

.row {
    --space-between: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-between);
}

.mb-4 {
    margin-bottom: 0 !important;
}

button, input, optgroup, select, textarea {
    font-size: inherit;
}

th {
    text-align: inherit;
}

.col-md-4 {
    flex: 0 0 auto;
    width: calc(33.33333333% - 10px);
}

.container .formulaire .form {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.container .formulaire .formulaire.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

.formulaire.secActive .formulaire.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.formulaire.secActive .formulaire.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container .formulaire .title {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin: 6px 0 8px 0;
    color: #333;
}

.container .formulaire .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formulaire .fields input {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

input label {
    font-size: 10px;
    font-weight: 500;
    color: #2e2e2e;
}

.formulaire input, .formulaire select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px lightgrey;
    padding: 0 5px;
    height: 30px;
    width: 100%;
    max-width: 300px;
    margin: 3px 0;
}

.formulaire input :focus,
.formulaire input select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.formulaire input select,
.formulaire input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
    color: #707070;
}

.formulaire input[type="date"]:valid {
    color: #333;
}

.container .formulaire .btn, .backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    max-width: 150px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-right: 0;
    margin-left: auto;
    background-color: rgb(55, 55, 55);
    transition: all 0.3s linear;
    cursor: pointer;
}

.container .formulaire .btnText {
    font-size: 14px;
    font-weight: 400;
}

.container .formulaire .btn:hover {
    background-color: black;
}

.formulaire .btn i,
.formulaire .backBtn i {
    margin: 0 6px;
}

.formulaire .backBtn i {
    transform: rotate(180deg);
}

.formulaire .buttons {
    display: flex;
    align-items: center;
}

.formulaire .buttons .btn, .backBtn {
    margin-right: 14px;
}

.formulaire p {
    margin-bottom: 0;
}


.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.input-container input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 30px;
    font-size: 12px;
}

.date {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-container .clear-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    font-size: 14px;
    display: none;
    transition: color 0.2s ease-in-out;
}

.input-container .clear-btn:hover {
    color: #333;
}

.clear-all {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #999;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
    user-select: none;
}

.clear-all:hover {
    color: #333;
}

.hidden {
    max-height: 0!important;
    opacity: 0;
    margin-top: 0!important;
}

#form-content {
    margin-top: 10px;
    max-height: 1000px;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, margin-top 0.5s ease-out;
}

#toggle-form {
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
    width: calc(100% - 90px);
    display: flex;
}

#toggle-form > svg {
    transition: all 0.2s linear;
}

@media (max-width: 811px) {
    .btn {
        margin-top: 10px;
    }

    .container .formulaire {
        overflow-y: scroll;
    }

    .container .formulaire::-webkit-scrollbar {
        display: none;
    }

    .formulaire .fields input {
        width: calc(100% / 2 - 15px);
    }

    .formulaire input, .formulaire select, .input-container {
        max-width: unset;
    }

    .row {
        justify-content: space-between;
    }

    .col-md-4 {
        width: calc(50% - 10px);
    }
}

@media (max-width: 578px) {
    .col-md-4 {
        width: calc(100%);
    }
}