.container .formulaire{
    position: relative;
    margin: 20px auto 0 auto;
    max-width: 1100px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 7px;
    padding: 20px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row > * {
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.mb-4 {
    margin-bottom: 0!important;
}

button, input, optgroup, select, textarea {
    font-size: inherit;
}

th {
    text-align: inherit;
}

@media (min-width: 768px) {
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
}

.container .formulaire .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container .formulaire .formulaire.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
.formulaire.secActive .formulaire.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
.formulaire.secActive .formulaire.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container .formulaire .title{
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin: 6px 0 8px 0;
    color: #333;
}
.container .formulaire .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulaire .fields input{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
input label {
    font-size: 10px;
    font-weight: 500;
    color: #2e2e2e;
}

.formulaire input, .formulaire select {
    outline: none;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px lightgrey;
    padding: 0 5px;
    height: 30px;
    width: 100%;
    max-width: 300px;
    margin: 3px 0;
}
.formulaire input :focus,
.formulaire input select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.formulaire input select,
.formulaire input[type="date"]{
    color: #707070;
}
.formulaire input[type="date"]:valid{
    color: #333;
}
.container .formulaire button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    max-width: 150px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-right: 0;
    margin-left: auto;
    background-color: rgb(55, 55, 55);
    transition: all 0.3s linear;
    cursor: pointer;
}
.container .formulaire .btnText{
    font-size: 12px;
    font-weight: 400;
}
.container .formulaire button:hover{
    background-color: rgb(70, 70, 70);
}
.formulaire button i,
.formulaire .backBtn i{
    margin: 0 6px;
}
.formulaire .backBtn i{
    transform: rotate(180deg);
}
.formulaire .buttons{
    display: flex;
    align-items: center;
}
.formulaire .buttons button , .backBtn{
    margin-right: 14px;
}
.formulaire p {
    margin-bottom: 0;
}

@media (max-width: 750px) {
    .container .formulaire{
        overflow-y: scroll;
    }
    .container .formulaire::-webkit-scrollbar{
        display: none;
    }
    .formulaire .fields input{
        width: calc(100% / 2 - 15px);
    }
}
@media (max-width: 300px) {
    .formulaire .fields input{
        width: 100%;
    }
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.input-container input[type="date"] {
    padding-right: 30px; /* Laissez de la place pour la croix */
    font-size: 12px;
}

.input-container .clear-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    font-size: 14px;
    display: none;
    transition: color 0.2s ease-in-out;
}

.input-container .clear-btn:hover {
    color: #333;
}
