nav[aria-label="Table navigation"] {
    text-align: center;
    margin: 30px 0;
}

.pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    height: 45px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: calc(100vw - 40px);
}

.pagination li {
    display: inline-block;
    margin: 0;
}

.pagination li a, .pagination li span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    color: var(--primary);
    height: 100%;
    margin-left: -1px;
}

.pagination li a:hover {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.pagination li.active a {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.pagination li .inactive:hover {
    background-color: #fff;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 768px) {
    .pagination li a, .pagination li span {
        font-size: 12px;
        padding: 0 8px;
    }
}
