#pagination-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    margin-bottom: -60px;
}

@media (max-width: 578px) {
    #pagination-header {
        margin-bottom: 0;
    }
}

/* Focus visuel */
select:focus {
    outline: none; /* Supprimer le contour par défaut */
}

#per_page {
    margin: 20px 0 0 0;
}

/* Style pour les options */
select option {
    padding: 10px; /* Espacement intérieur pour chaque option */
    font-size: 12px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    text-align: center;
}

/* Améliorer les performances sur mobile */
@media (max-width: 768px) {
    select {
        font-size: 12px; /* Réduction de la taille de la police */
        padding: 8px 12px; /* Réduction des marges internes */
    }
    #per_page {
        padding: 8px;
    }
}

#total-species {
    margin: 10px 10px auto 0;
    height: 50px;
}

#total-species p {
    font-size: 16px;
    color: white;
}

select {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(55, 55, 55);
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    appearance: none; /* Supprime l'apparence par défaut du navigateur */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23737373' d='M2 0L0 2h4zM2 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    cursor: pointer;
    height: 45px;
    text-indent: 3px;
}

/* Style au survol */
select:hover {
    color: #fff;
    background-color: rgb(55, 55, 55);
    border-color: rgb(55, 55, 55);
}

select {
    text-align: center;
    margin: auto 20px;
    appearance: none; /* Supprime les flèches natives */
    -webkit-appearance: none; /* Compatibilité avec WebKit */
    -moz-appearance: none; /* Compatibilité avec Firefox */
    background-image: none; /* Supprime l'icône si une image est utilisée */
    cursor: pointer;
}

/* Style lors de la sélection (focus) */
select:focus {
    outline: none;
    box-shadow: 0 0 3px rgb(70, 70, 70);
    border-color: rgb(70, 70, 70);
}

/* Option individuelle */
select option {
    font-weight: normal;
    color: rgb(55, 55, 55);
}

/* Style désactivé */
select:disabled {
    color: #adb5bd;
    background-color: #e9ecef;
    cursor: not-allowed;
}