{% extends 'main/base.html' %}
{% load static %}

{% block body %}
{% include 'advanced_search/module.html' with origine='carte' %}

<div id="total-species">
    {% if total_results > 1 %}
    <p>{{total_results}} photos trouvées.</p>
    {% elif total_results == 1 %}
    <p>{{total_results}} photo trouvée.</p>
    {% else %}
    <p>Aucune photo trouvée.</p>
    {% endif %}
</div>

{% if total_results > 0 %}
<span id="data-carte" data-images='{{ json_results | safe }}' hidden></span>

<div id="carte"></div>
{% endif %}

<p class="citation"><i>Navigare necesse est, vivere non est necesse.</i></p>

{% endblock %}

{% block javascript %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>const mapTiles = "{{ map_server|escapejs }}";</script>
<script src="{% static 'main/assets/scripts/carte.js' %}"></script>
{% endblock %}