{% extends 'main/base.html' %}
{% load static %}
{% block body %}
<div class="section">
     <h2>Réinitialisation du mot de passe</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>Veuillez entrer votre adresse e-mail. Un lien de réinitialisation vous sera envoyé si un compte est associé à cette adresse.</p>

        <form method="post" class="password-reset-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Adresse email&nbsp;:</label>
                {{ form.email }}
            </div>
            <button class="button-large" type="submit">Envoyer le lien</button>
        </form>
    </div>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/assets/styles/login.css' %}" />
<link rel="stylesheet" href="{% static 'main/assets/styles/profile.css' %}" />
{% endblock %}
