{% extends 'main/base.html' %}
{% load static %}

{% block body %}
<div class="section">
    <h2>Email envoyé</h2>
    <p>Si un compte existe pour cette adresse, vous recevrez un lien de réinitialisation sous peu. <a
            href="{% url 'login' %}">Retourner à la connexion</a></p></p>
</div>
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'main/assets/styles/login.css' %}" />
<link rel="stylesheet" href="{% static 'main/assets/styles/profile.css' %}" />
{% endblock %}
