{% extends 'main/base.html' %}
{% load static %}

{% block body %}
<div class="section">
        <h2>Mes informations</h2>
        <h3>{{ first_name }} {{ last_name }}</h3>
    <div>
        <p>Nom d'utilisateur : {{ username }}</p>
    </div>
    <div>
        <h4>Mes collections</h4>
        <div class="list">
            <ul>
                {% for collection_id, collection_title in collections %}
                {% if collection_id == current_collection_id %}
                <li class="current_collection">{{ collection_title }}</li>
                {% else %}
                <li class="unselected_collection">{{ collection_title }} <a
                        href="{% url 'change_collection' collection_id %}">Sélectionner</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <h4>Changer de fond de carte</h4>
        <div class="list">
            <ul>
                {% for map_tiles_id, map_tiles_title in map_tiles %}
                {% if map_tiles_id == current_map_tiles_id %}
                <li class="current_collection">{{ map_tiles_title }}</li>
                {% else %}
                <li class="unselected_collection">{{ map_tiles_title }} <a
                        href="{% url 'change_map_tiles' map_tiles_id %}">Sélectionner</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <br/>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            Se déconnecter
        </button>
    </form>
</div>

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/assets/styles/profile.css' %}" />
{% endblock %}
