<h1>Recherche avancée de produits</h1>
<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-4">
            {{ form.latin_name.label_tag }}
            {{ form.latin_name }}
        </div>
        <div class="col-md-4">
            {{ form.genus.label_tag }}
            {{ form.genus }}
        </div>
        <div class="col-md-4">
            {{ form.species.label_tag }}
            {{ form.species }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.french_name.label_tag }}
            {{ form.french_name }}
        </div>
        <div class="col-md-4">
            {{ form.class_field.label_tag }}
            {{ form.class_field }}
        </div>
        <div class="col-md-4">
            {{ form.order_field.label_tag }}
            {{ form.order_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.family.label_tag }}
            {{ form.family }}
        </div>
        <div class="col-md-4">
            {{ form.year.label_tag }}
            {{ form.year }}
        </div>
        <div class="col-md-4">
            {{ form.date.label_tag }}
            {{ form.date }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.continent.label_tag }}
            {{ form.continent }}
        </div>
        <div class="col-md-4">
            {{ form.country.label_tag }}
            {{ form.country }}
        </div>
        <div class="col-md-4">
            {{ form.region.label_tag }}
            {{ form.region }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
</form>